# Node
node_modules/
*/node_modules/

# Build outputs
dist/
*/dist/
build/
*/build/
agents/
*/agents/   
.agents/ 
# Vite
.vite/
*/.vite/

# Env
.env
*/.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Coverage
coverage/
*/coverage/
.nyc_output/

# Caches
.cache/
*/.cache/
.eslintcache
.claude

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Misc
*.pid
*.seed


temp-skills/
*/temp-skills/
.temp-skills/

